.contact-wrapper{
  font-family: "Poppins", sans-serif;
}
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact-title{
    color: black;
    padding-top: 40px;
    text-align: center;
    position: relative;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
.contact-title::before{
    content: "";
    position: absolute;
    bottom: 0;
    background:#111;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 180px;
}

.contact-title::after{
    content: "Talk to Me";
    position: absolute;
    bottom: -12px;
    background:#fff;
    left: 50%;
    font-size: 20px;
    color: var(--medium-blue) ;
    transform: translateX(-50%);
    padding: 5px;
}


.contact{
    min-height: 100vh;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-contact{
    width: 85%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 6px 6px 2em rgb(128, 128, 128);
  }
  .container-contact .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container-contact .content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }
  .content .left-side::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
  }
  .content .left-side .details{
    margin: 14px;
    text-align: center;
  }
  .details i{
    font-size: 30px;
    color:  var(--medium-blue);
    margin-bottom: 10px;
  }
  .topic{
    font-size: 18px;
    font-weight: 500;
  }
  .text-one, .text-two{
    font-size: 14px;
    color: #848488;
  }
  .right-side{
    width: 75%;
    margin-left: 75px;
  }
  .topic-text{
    font-size: 23px;
    font-weight: 600;
    color:  var(--medium-blue) ;
    font-family: 'Ubuntu', sans-serif;
  }

  .right-side p{
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
  }
  .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
  }
  .input-box input, textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #d3d4dc;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }
  .right-side .message-box{
    min-height: 110px;
  }
  .right-side .input-box textarea{
    padding-top: 6px;
  }
  
  .contact-btn {
    padding: 14px;
    width: 155px;
    margin-top: 10px;
    color: var(--white);
    border-radius: 50px;
    font-size: 1rem;
    background-color: var(--darker-gray);
    border: 2px solid var(--white);
}


.contact-btn:hover{
    border: 2px solid var(--medium-blue);
    background-color: #58575d;
    
}

@media (max-width: 3000px) {
  .container-contact{
    width: 60%;
    padding: 30px 40px 40px 35px ;
  }
}
@media (max-width: 2000px) {
  .container-contact{
    width: 70%;
    padding: 30px 40px 40px 35px ;
  }
}

  
  @media (max-width: 950px) {
    .container-contact{
      width: 90%;
      padding: 30px 40px 40px 35px ;
    }
    .container-contact .content .right-side{
     width: 75%;
     margin-left: 55px;
  }
  }
  @media (max-width: 820px) {
    .container-contact{
      margin: 40px 0;
      height: 100%;
    }
    .text-muted{
        padding: 20px;
        background: #2f3438;
        height: 205px;
        display: flex;
        color: #fff;
        padding-top: 40px;
    }
    .container-contact .content{
      flex-direction: column-reverse;
    }
   .container-contact .content .left-side{
     width: 100%;
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
     flex-wrap: wrap;
   }
   .container-contact .content .left-side::before{
     display: none;
   }
   .container-contact .content .right-side{
     width: 100%;
     margin-left: 0;
   }
  }
  

  @media (max-width: 282px) {
    
    .contact-title::after{
        content: "Talk to Me";
        position: absolute;
        bottom: -35px;
        background:#fff;
        left: 50%;
        font-size: 20px;
        color: rgb(41, 72, 207) ;
        transform: translateX(-50%);
       
    }
    
}
