.about-me-wrapper {
    font-family: "Poppins", sans-serif;
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.about-me-title {
    color: black;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 20px;
}

.subtitle-container {
    position: relative;
}

.about-me-subtitle::before {
    content: "";
    position: absolute;
    bottom: 0;
    background: #111;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 180px;
}

.about-me-subtitle::after {
    content: "Who Am I";
    position: absolute;
    bottom: -12px;
    background: #fff;
    left: 50%;
    font-size: 20px;
    color: var(--medium-blue);
    transform: translateX(-50%);
    padding: 0;
    width: 100px;
}

.about-me-container {
    display: flex;
    max-width: 1000px;
    max-height: 700px;
    height: 90vh;
    width: 100%;
    margin: 5% 5%;
    box-shadow: 6px 6px 2em rgb(128, 128, 128);
    border-radius: 8px;
    flex-direction: row;
}

.image-container {
    background: url('./aboutMeAssets/Me3.png') no-repeat center;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    height: 100%;
    width: 50%;
}

.about-me-content {
    max-width: 500px;
    padding: 0 4%;
    width: 100%;
}

.about-me-content p {
    font-size: 1.2rem;
    margin-bottom: 2%;
    font-weight: 500;
    padding: 5%;

}

.list-container h2 {
    font-size: 1.3rem;
}

.about-me-list li {
    font-size: 1rem;
    color: black;
    margin: 1rem 0 0 1rem;
    list-style-image: url('./aboutMeAssets/circle2.png');
}

.profile-options {
    margin-top: 4rem;
}

.profile-options  button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 10px 0;
    width: 140px;
    color: var(--white);
    border-radius: 50px;
    font-size: 1.1rem;
    background-color: var(--darker-gray);
    border: 2px solid var(--white);
    cursor: pointer;
}

.profile-options a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 10px 0;
    width: 140px;
    color: var(--white);
    border-radius: 50px;
    font-size: 1.1rem;
    background-color: var(--medium-blue);
    border: 2px solid var(--white);
    text-decoration: none;
    cursor: pointer;
}

.primary-btn-a:hover {
    border: 2px solid var(--medium-blue);
    background-color: #58575d;

}

.highl-btn-a:hover {
    background-color: #4a41f4;
}


@media (max-width: 1024px) {
    .about-me-wrapper {
        padding: 10%;
        

    }

    .about-me-container {
        flex-direction: column;
        height: auto;
        max-height: 1100px;
        display: flex;
        align-items: center;
        margin-top: 15%;
    }

    .image-container {
        width: 100%;
        height: 600px;
        background-position: top;
    }

    .list-container h2 {
        font-size: 1.4rem;
        margin-left: 15%;

    }

    .list-container ul {
        font-size: 1.6rem;
        margin-left: 20%;
    }

    .about-me-content {
        width: 100%;
        padding: 0;
    }


}

@media (max-width: 768px) {
    .about-me-wrapper {
        padding: 4%;

    }

    .about-me-container {
        flex-direction: column;
        height: auto;
        margin-top: 15%;
    }

    .image-container {
        width: 100%;
        height: 500px;
        background-position: top;
    }

    .list-container h2 {
        font-size: 1.4rem;
        margin-left: 3%;
    }

    .list-container ul {
        font-size: 1.4rem;
        margin-left: 5%;
    }

    .about-me-content {
        width: 100%;
        padding: 0;
    }
}

@media (max-width: 450px) {
    .about-me-wrapper {
        margin-top: 5vh;

    }

    .about-me-content p {
        font-size: 1.2rem;
    }

    .about-me-list {
        margin-left: 15px;
    }

    .primary-btn-a {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 160px;
        font-size: 0.9rem;
        border: 2px solid var(--darker-gray);
    }

    .highl-btn-a {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 160px;
        font-size: 0.9rem;
        border: 2px solid var(--darker-gray);
    }
}

@media (max-width: 380px) {

    .profile-options button{
        font-size: 0.8rem;

    }

    .profile-options a{
        font-size: 0.8rem;

    }
}